<div style="width: 70%; margin-left: 15%;" id="carouselExampleSlidesOnly" class="carousel slide  " data-bs-ride="carousel">
    <div class="carousel-inner ">
        <div class="carousel-item active">
            <img style="border-radius: 20px; height: 450px;"
                 src="https://i.ytimg.com/vi/OW9y6G6U15I/maxresdefault.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img style="border-radius: 20px; height: 450px;"
                 src="https://i.ytimg.com/vi/OW9y6G6U15I/maxresdefault.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img style="border-radius: 20px; height: 450px; "
                 src="https://avatars.mds.yandex.net/get-kinopoisk-image/1946459/003f2b1a-205b-44e4-b79d-96f641b27162/orig"
                 class="d-block w-100" alt="...">
        </div>
    </div>
</div>